name: Pull request check

on:
  pull_request:
  push:
    branches:
      - develop

jobs:
  check:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          package-manager-cache: false
      - name: Install dependencies
        run: pnpm install
      - run: pnpm run lint
      - run: pnpm run build
